{% extends 'base.html.twig' %}

{% block title %}Contact form{% endblock %}

{% block body %}
<h1>Contact form</h1>
{{ form(contactForm) }}
<a href="{{ path('home') }}">Return to home</a>
{% endblock %}
